<%- include ('partials/nav') %>

<div class="breadcrumbs">
        <div class="container">
          <a href="/shop">Home</a>
          <i class="fa fa-chevron-right breadcrumb-separator" ></i>
          <span>Shopping Cart</span>
        </div>
      </div>

      <div class="cart-section container">
        <div>
          <h2>
            <% if(locals.cart?.products.length  > 0) { %>
                 <%= cartCount %> items in Shopping Cart
                 <a href="/cart/destroy" class="button">Vider le panier</a>
            <% } else { %>
                    Vous n'avez rien ajouté au panier
            <% }  %>
          </h2>
          <div class="cart-table">
              <% if (locals.cart?.products.length > 0) { %>
               <% for( let product of cart.products ) { %>
                    <div class="cart-table-row">
                    <div class="cart-table-row-left">
                      <a href="/">
                        <img
                          src="<%= product.image %>"
                          alt="item"
                          class="cart-table-img"
                        />
                      </a>
                      <div class="cart-item-details">
                        <div class="cart-table-item">
                          <a href="/product/<%= product.id %>">
                            <%= product.title %>
                          </a>
                        </div>
                        <div class="cart-table-description">
                          15 inch, 1TB SSD, 32GB RAM
                        </div>
                      </div>
                    </div>
                    <div class="cart-table-row-right">
                      <div class="cart-table-actions">
                        <a
                          href="/cart/remove/<%= product.id %> "
                        >
                          Remove
                        </a>
                      </div>
                      <div>
                        <select
                          class="quantity"
                          name="qty"
                        >
                          <option value="<%= product.qty %>">
                            <%= product.qty %>
                          </option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                      <div>
                        <%= product.priceHT * product.qty / 100%> &euro; HT
                      </div>
                    </div>
                  </div>
               <% } %>
              <% } %>

          </div>
          <a href="/" class="have-code">
            Have a Code?
          </a>
          <div class="have-code-container">
            <form action="/">
              <input type="text" />
              <button type="submit" class="button button-plain">
                Apply
              </button>
            </form>
          </div>

          <% if(locals.cart?.products.length  > 0) { %>

            <div class="cart-totals">
              <div class="cart-totals-left">
                placeholder pour une fontionnalité
              </div>

              <div class="cart-totals-right">
                <div>
                  Subtotal <br />
                  Tax <br />
                  <span class="cart-totals-total">Total</span>
                </div>
                <div class="cart-totals-subtotal">
                <%= totalHT / 100 %>  &euro;
                  <br />
                  <%= (totalTTC - totalHT / 100 ).toFixed(2) %> &euro;
                  <br />
                  <span class="cart-totals-total"><%= totalTTC%> &euro;</span>
                </div>
              </div>
            </div>
          <% } %>

          <div class="cart-buttons">
            <a href="/shop" class="button">
              Continue Shopping
            </a>
            <% if (locals.count) { %>
                <a href="/checkout" class="button-primary">
                  Proceed to Checkout
                </a>
            <% } %>

          </div>
        </div>
      </div>

<%- include ('partials/foot') %>