<%- include ('partials/nav') %>

<div class="breadcrumbs">
    <div class="container">
        <a href="/shop">Home</a>
        <i class="fa fa-chevron-right breadcrumb-separator"></i>
        <span>Shop</span>
    </div>
</div>

<div class="products-section container">
    <div class="sidebar">
        <h3 class="mt-3"><%= category.name %></h3>
    </div>

    <div>
        <div class="products text-center">

            <!-- Étape 6 - Remplacer cette liste par une bloucle sur la variable `category.products`-->
            <% for(let oneProduct of category.products) { %>
            <div class="product">
                <a href="/product/<%= oneProduct.id %>">
                    <img src="<%= oneProduct.image %>" alt="<%= oneProduct.name %>" />
                </a>
                <a href="/product/<%= oneProduct.id %>">
                    <div class="product-name"><%= oneProduct.name %></div>
                </a>
                <div class="product-price"><%= oneProduct.price %>€</div>
            </div>
            <% } %>

        </div>
    </div>
</div>

<% include ('partials/foot') %>
