<%- include('partials/head') %>
<%- include('partials/nav') %>

<section class="container">

    <h2><%= status %></h2>
    <% if(status === 404) { %>
        <img src="/img/404.gif" alt="Page Not Found">
    <% } %>
    <p><%= message %></p>
    <% if ( stackHighlighted ) { %>
    <pre><%- stackHighlighted %>
        <% } %>
    </pre>
</section>
<%- include('partials/foot') %>
