<%- include ('partials/nav') %>

<div class="breadcrumbs">
    <div class="container">
        <a href="/shop">Home</a>
        <i class="fa fa-chevron-right breadcrumb-separator"></i>
        <span>Shop</span>
        <i class="fa fa-chevron-right breadcrumb-separator"></i>
        <span><%= product.title %></span>
    </div>
</div>

<div class="product-section container">
    <div class="product-section-image">
        <img src="<%= product.image %>" alt="product" />
    </div>
    <div class="product-section-information">
        <h1 class="product-section-title"><%= product.title %></h1>
        <div class="product-section-price"><%= product.price %>€</div>

        <div><%= product.description %></div>

        <p>&nbsp;</p>

        <form action="/cart/<%= product.id %>" method="POST">
            <input class="button" value="Ajouter au panier" type="submit">
        </form>
    </div>
</div>

<%- include ('partials/foot') %>
