<%- include ('partials/nav') %>

<div class="breadcrumbs">
    <div class="container">
        <a href="/shop">Home</a>
        <i class="fa fa-chevron-right breadcrumb-separator"></i>
        <span>Shop</span>
    </div>
</div>

<div class="products-section container">
    <div class="sidebar">

        <h3 class="mt-3">Les catégories</h3>

        <ul>
            <!-- Étape 5 Remplacer cette liste par une bloucle sur la variable `categories`-->
            <li>
                <a href="/category/1"> Catégorie 1 </a>
            </li>
            <li>
                <a href="/category/2"> Catégorie 2 </a>
            </li>
            <li>
                <a href="/category/3">Catégorie 3</a>
            </li>
        </ul>
    </div>

    <div>
        <div class="products text-center">

            <!-- Remplacer cette liste par une bloucle sur la variable `products`-->

            <% for(let oneProduct of products) { %>

            <div class="product">
                <a href="/product/<%= oneProduct.id %>">
                    <img src="<%= oneProduct.image %>" alt="<%= oneProduct.title %>" />
                </a>
                <a href="/product/<%= oneProduct.id %>">
                    <div class="product-name"><%= oneProduct.title %></div>
                </a>
                <div class="product-price"><%= oneProduct.price %> €</div>
            </div>
            <% } %>

        </div>
    </div>
</div>

<% include ('partials/foot') %>
